
{% if backup_mode %}{{"Backup Mode:"|style("EMPH")}} {{ backup_mode }}{% endif %}
{{"Source:"|style("EMPH")}} {{ source }}
{{"Target:"|style("EMPH")}} {{ target }}
{{ "Backup Name:"|style("EMPH") }} {{ backup_name }}
{% if existing_backup %}{{"Existing Backup:"|style("EMPH")}} {{ existing_backup }}{% endif %}
