
Select an existing backup-directory that you want to update:

{% for entry in target_content -%}
{{ loop.index|style("OPT_EMPH") }}{{ "."|style("OPT_EMPH") }} {{ entry|style("OPTION") }}
{% endfor %}
