
{{"Source:"|style("EMPH")}} {{ source }}
{{"Destination:"|style("EMPH")}} {{ destination }}

Select a Drive:

{% for entry in destination_content -%}
{{ loop.index|style("OPT_EMPH") }}{{ "."|style("OPT_EMPH") }} {{ entry|style("OPTION") }}
{% endfor %}
