
{{"Backup Mode:"|style("EMPH")}} {{ backup_mode }}
{{"Source:"|style("EMPH")}} {{ source }}
{{"Target:"|style("EMPH")}} {{ target }}
{{ "Backup Name:"|style("EMPH") }} {{ backup_name }}
{% if existing_backup %}{{"Existing Backup:"|style("EMPH")}} {{ existing_backup }}{% endif %}

{% if target_content|length > 0 -%}
{{ "Target Contents"|style("HEADING") }}

{% for entry in target_content -%}
  {{ entry }}
{% endfor -%}
{% endif -%}
